
.titulo-sobre{
    margin-top: 50px !important;
    margin-bottom: 15px !important;
    color: #5F7316 !important;
}

.img-sobre{
    height: 500px;
    width: max-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.texto-sobre{
    padding: 15px 30px 15px 30px;
}