.card{
    background: white;
 }
 
 .background{
     background: rgb(52,64,26);
     background: linear-gradient(0deg, rgba(52,64,26,1) 0%, rgba(100,115,47,1) 44%, rgba(202,217,89,1) 100%); 
     background-repeat: no-repeat;
     width: 100vh;
     min-height: 100vh;
     background-size: cover;
     background-position: center;
 }
 
 .color-input{
     background: transparent;
     border-radius: 5px;
     height: 30px;
 }
 
 .text-decorator-none{
     text-decoration: none;
 }
 
 .botao{
     background: rgba(52,64,26,1)!important;
 }
 
 .icon{
     margin: 1px;
     background: rgba(52,64,26,1)!important;
 }
 